body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 90px;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 180px;
}

.middle-containe {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 380px;
  top: 180px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 350px;
}

.PP {
  width: 190px;
}

.codeIMG {
  width : 250px;
}
.BeerIMG{
  width:250px;
}
a{
  color:#11999E;
}
h1{
  line-height: 1;
}
